@import "variables.scss";
$animate: all 0.2s ease-in-out;

.header{
    position: absolute;
    left: 0px;
    top: 0px;
    padding-top: 4%;
    padding-left: 5%;

    &__logo{
        width: 180px;
    }

    &__links{
        color: black;
        position: relative;
        display: inline-block;
        font-size: 18px;
        letter-spacing: 0.09em;
        font-weight: 500;
        font-family: Red Hat Display;
        font-style: normal;
        text-decoration: none;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        
        &.github{
            height: 24px;
            left: calc(80% - 6px/2 + 0.5px);
            top: calc(50% - 24px/2);
            &:hover{
                border-bottom: 1px solid #453886;
            }
        }

        &.wiki{
            height: 24px;
            left: calc(80% - 4px/2);
            top: calc(50% - 24px/2);
            &:hover{
                border-bottom: 1px solid #453886;
            }
        }

        &.meta{
            height: 24px;
            left: calc(80% - 3px/2 - 0.5px);
            top: calc(50% - 24px/2);
            &:hover{
                border-bottom: 1px solid #453886;
            }
        }

        &.discord{
            height: 24px;
            left: calc(80% - 1px/2);
            top: calc(50% - 24px/2);
            &:hover{
                border-bottom: 1px solid #453886;
            }
        }
    }
}